Swift/swift-sh/Swift-Sh-Script-Eject/
Swift/nef/ios-BowPlayground/Ios-bow-playground.app/
Swift/nef/macos-BowPlayground/Macos-bow-playground.app/
Swift/nef/xcode-playground/macOS-Blank.playground/playground.xcworkspace/
Swift/nef/xcode-playground/iOS-Blank.playground/playground.xcworkspace/
