Swift/swift-sh/Swift-Sh-Script-Eject/
Swift/nef/ios-BowPlayground/Ios-bow-playground.app/
Swift/nef/macos-BowPlayground/Macos-bow-playground.app/
Swift/nef/Transform-BowPlayground/BowPlayground.app/
Swift/nef/xcode-playground/Xcode-Playground.playground/playground.xcworkspace/xcuserdata/huzhenghui.xcuserdatad/UserInterfaceState.xcuserstate
